{% extends 'base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <button><a  href="{% url 'post_edit' pk=post.pk %}">редактировать</a></button>  или  <button><a href="{% url 'post_delete' post.pk %}">Удалить</a></button></a>
        {% endif %}        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
           <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Предыдушая страница</a>
        {% endif %}
        <span>Старница:  {{ page_obj.number}} </span>
        {% if page_obj.has_next %}
            <a href="?page= {{ page_obj.next_page_number }}">Следуюшая страница</a>

        {% endif %}

        </div>
{% endblock %}